# Python Class 1 
<h1>Learn Python </h1>

In [9]:
print("Hello", 5, True, 5.6, sep=',', end='\t\t')
print("Python")

Hello,5,True,5.6		Python

In [10]:
print("Python \nprogramming language")

Python
programming language

In [12]:
print("Hello", 5, True, 5.6, sep='\n', end='\t\t')
print("Python")

Hello
5
True
5.6		Python

# Data

Data Types:
    int, float, Boolean, String

# Variables

In [13]:
welcome_message = "Hello World"
welcome_message
# In memory there is a variable with name "welcome message" and is assigned a string value

'Hello World'

In [16]:
type(welcome_message)

str

In [18]:
print(type(welcome_message))
#EVERY TYPE BELONGS TO A CLASS

<class 'str'>

# Pass By value and Pass By reference

In [20]:
#To check memory address
id(welcome_message)

2972421847344

In [23]:
welcome = welcome_message #welcome holds the reference/address of welcome_message <called pass by reference>

In [22]:
welcome

'Hello World'

In [24]:
id(welcome) #same id <both are pointing to same address>

2972421847344

In [25]:
welcome_message_2 = "Hello World"

In [27]:
#value was hello_world so why should address be changed? I will refer to same address. Check new approach with a = 10
id(welcome_message_2)

2972461733680

In [28]:
true = True
false = False

In [29]:
type(true)

bool

In [32]:
#String Concatneation
welcome= "Hello" + " " + "World"

In [33]:
welcome

'Hello World'

In [41]:
#Type cast in to string
str(6) + "Python"

'6Python'

In [44]:
type(int("20"))

int

In [45]:
country = input("Enter")

EnterPak

In [46]:
age = int(input("Enter"))

Enter23

In [47]:
country + str(age)

'Pak23'

In [48]:
age = int(input("Enter a number"))

Enter a number21

In [49]:
print("Currnt" + str(age-2))

Currnt19

# String formatting

In [ ]:
country = input("Enter")
age = int(input("Enter a number"))

In [50]:
#no need to use str() for age we have used {}
print("I am {} i was born in {}".format(country, age))

I am Pak i was born in 21

In [52]:
print(f"I am {country} i was born in {age}")

I am Pak i was born in 21

In [54]:
country.capitalize()

'Pak'

In [57]:
country.find("a")

1

In [59]:
first_name, last_name = input().split(',')

Sameer, Jehan

In [3]:
print("my name is \"Arish khan.\"")

my name is "Arish khan."

# operator and numbers

In [4]:
Operators = 23 + 2

In [7]:
Operators

25

In [8]:
 2/2         #By default in float in division

1.0

In [10]:
# modulo operator
12%5

2

In [11]:
10==19

False

In [13]:
1!=1

False

In [14]:
12 + 5

17

In [17]:
12 / 12

1.0

In [18]:
12 // 12

1

In [25]:
3**2

9

In [29]:
list = []

In [30]:
type (list)

list

In [31]:
print(type(list))

<class 'list'>

In [39]:
list = [12,22,33,44,55,66,'anaconda',[11,12,13],'orange','jupyter']

In [33]:
list

[12, 22, 33, 44, 55, 66, 'anaconda', 'orange', 'jupyter']

In [40]:
list.reverse()

In [41]:
list

['jupyter', 'orange', [11, 12, 13], 'anaconda', 66, 55, 44, 33, 22, 12]

In [42]:
list[2][0]

11