# Nested For loop

In [1]:
[(a,b) for a in range(1,5) for b in range(11,13)]

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [2]:
tuplelist=[]
for a in range (1,5):  #1 2 3 4
    for b in range(11,13): #11 12
        tuplelist.append((a,b))
tuplelist

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [10]:
tuplelist=[]
for a in range (1,12):  #1 2 3 4
    for b in range(20,122): #11 12
        if a**2==b:
            tuplelist.append((a,b))
tuplelist

[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121)]

# Set

In [12]:
aset = {2,2,2,4,6,5,6,7,4,3,3,}

In [13]:
aset

{2, 3, 4, 5, 6, 7}

In [24]:
alist = [2,3,4,5,6,2,3,4]
blist = [1,3,4,5,7]
clist = []
for alist not in blist
if alist[0:] in blist[0:]:
    clist.append(alist not in blist) 
clist

[]

In [ ]:
for alist in
if alist[0:] in blist[0:]:
    clist.append(alist not in blist) 
clist

In [37]:
alist = [2,3,4,5,6,2,3,4]
aset = set(alist)
aset

{2, 3, 4, 5, 6}

In [38]:
list(aset)

[2, 3, 4, 5, 6]

In [61]:

set(alist)

{2, 3, 4, 5, 6}

In [70]:
aset = {2,2,2,4,6,5,6,7,4,3,3,}

In [71]:
differenceset = aset.difference({2,3,44,90})
differenceset

{4, 5, 6, 7}

In [36]:
differenceset

NameError: name 'differenceset' is not defined

In [42]:
aset = {1,2,3,4,3,5}
aset

{1, 2, 3, 4, 5}

In [47]:
aset.update("Arish", "Muhib")
aset

{1,
 2,
 3,
 4,
 5,
 'A',
 'Ali',
 'Arish',
 'M',
 'Muhib',
 'b',
 'cat',
 'h',
 'i',
 'r',
 's',
 'u'}

In [44]:
aset.update({'Arish', 'Muhib', 'Ali'})
aset

{1, 2, 3, 4, 5, 'Ali', 'Arish', 'Muhib'}

In [45]:
aset.add('cat')
aset

{1, 2, 3, 4, 5, 'Ali', 'Arish', 'Muhib', 'cat'}

In [54]:
aset.add('100')

In [55]:
aset

{1,
 '100',
 100,
 2,
 3,
 4,
 5,
 'A',
 'Ali',
 'Arish',
 'M',
 'Muhib',
 'b',
 'cat',
 'h',
 'i',
 'r',
 's',
 'u'}

# Dictionary

In [57]:
adic = {23}
bdic = {}
type(adic)

set

In [58]:
type(bdic)

dict

In [59]:
dic = {'name':'arish','age':50, 'Qual':"BE", "Exp":5} #key no position
dic

{'name': 'arish', 'age': 50, 'Qual': 'BE', 'Exp': 5}

In [ ]:
# dic in loop there is no sequence no position of key
# pehle kuch bhi bhej sakta hai

In [72]:
dic['name']

'arish'

In [107]:
dic['name'] = 'ahmed'
dic

{'age': 50, 'Qual': 'BE', 'Exp': 5, 'name': 'ahmed'}

In [108]:
newD = {"name":"Asad","age":43,"age":42}

In [109]:
newD

{'name': 'Asad', 'age': 42}

In [110]:
dic

{'age': 50, 'Qual': 'BE', 'Exp': 5, 'name': 'ahmed'}

In [111]:
for key in dic.keys():
    print(key)

age
Qual
Exp
name

In [112]:
for key in dic.keys():
    print(dic[key])

50
BE
5
ahmed

In [113]:
for item in dic.items():
    print(item)

('age', 50)
('Qual', 'BE')
('Exp', 5)
('name', 'ahmed')

In [114]:
for k,v in dic.items():
    print(k,v)

age 50
Qual BE
Exp 5
name ahmed

In [115]:
for v,k in dic.items():
    print(k,v)

50 age
BE Qual
5 Exp
ahmed name

In [116]:
for i,(k,v) in enumerate(dic.items()):
    print(i,k,v)

0 age 50
1 Qual BE
2 Exp 5
3 name ahmed

In [117]:
for chara in enumerate("Pakistan"):
    print(chara)

(0, 'P')
(1, 'a')
(2, 'k')
(3, 'i')
(4, 's')
(5, 't')
(6, 'a')
(7, 'n')

In [118]:
for index,chara in enumerate("Pakistan"):
    print(index,chara)

0 P
1 a
2 k
3 i
4 s
5 t
6 a
7 n

In [ ]:
for chara in enumerate("Pakistan"):
    print(chara)

In [119]:
dic = {'name':'arish','age':50, 'Qual':"BE", "Exp":5} #key no position
dic

{'name': 'arish', 'age': 50, 'Qual': 'BE', 'Exp': 5}

In [120]:
dic.pop('name')

'arish'

In [121]:
dic

{'age': 50, 'Qual': 'BE', 'Exp': 5}

In [ ]:
dic.popitem

# Dictionary comprehension

In [156]:
prices_in_rps = {'milk':12,'cofee':140}

In [157]:
prices_in_rps

{'milk': 12, 'cofee': 140}

In [158]:
dollar = 165
prices_in_dollar = {key:(value/dollar) for key,value in (prices_in_rps.items())}
prices_in_dollar

{'milk': 0.07272727272727272, 'cofee': 0.8484848484848485}

In [159]:
dollar = 165
prices_in_dollar = {key:(value/dollar) for key,value in (prices_in_rps.items()) if(value/dollar)<=0.5}
prices_in_dollar

{'milk': 0.07272727272727272}