#  4-1

In [4]:
pizzas = ['pepproni', 'BBQ', 'fajita']
for pizza in pizzas:
    print("I like" , pizza)
print("I like pizzas")

I like pepproni
I like BBQ
I like fajita
I like pizzas

# 4-2

In [7]:
pets = ['Dog', 'cat', 'Parrot']
for pet in pets:
    print('A', pet, 'would make a great pet.')
print("\nAll would make a great pet")

A Dog would make a great pet.
A cat would make a great pet.
A Parrot would make a great pet.

All would make a great pet

# 4-3

In [13]:
for value in range(1,21):
    a=print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 4-4

In [ ]:
for value in range(1,1000000):
    a=print(value)

# 4-5

In [ ]:
for value in range(1,1000000):
    print(value)
max(value)
min(value)
sum(value)

# 4-6

In [20]:
for value in range(1,20,2):
    a=print(value)

1
3
5
7
9
11
13
15
17
19

# 4-7

In [24]:
for value in range(3,30):
    a=value*3
    print(a)

9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87

# 4-8

In [35]:
for value in range(1,11):
    a=value**3
    print(a)

1
8
27
64
125
216
343
512
729
1000

# 4-9

In [31]:
List=[value**3 for value in range(1,11)]
print(List)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 4-10

In [9]:
lista=['Dog','cat','lion','monkey','tiger','zebra','girrafe','bigcat','snake']
for list in lista[:3]:
    print(list)

for list in lista[3:6]:
    print(list)

for list in lista[6:]:
    print(list)

Dog
cat
lion
monkey
tiger
zebra
girrafe
bigcat
snake

# 4-11

In [32]:
pizzas = ['pepproni', 'BBQ', 'fajita']
friend_pizzas=pizzas[:]
print('my pizza list\t',pizzas)
print('friend pizza list\t',friend_pizzas)
pizzas.append('tandoori')
print('my pizza list\t',pizzas)
friend_pizzas.append('cheesy')
print('friend pizza list\t',friend_pizzas)


print('\nmy favourite pizzas\n')
for pizza in pizzas:
    print(pizza)   
print('\nmy friends favourite pizzas\n')    
for friend_pizza in friend_pizzas:
    print(friend_pizza)

my pizza list	 ['pepproni', 'BBQ', 'fajita']
friend pizza list	 ['pepproni', 'BBQ', 'fajita']
my pizza list	 ['pepproni', 'BBQ', 'fajita', 'tandoori']
friend pizza list	 ['pepproni', 'BBQ', 'fajita', 'cheesy']

my favourite pizzas

pepproni
BBQ
fajita
tandoori

my friends favourite pizzas

pepproni
BBQ
fajita
cheesy

# 4-12

In [35]:
pizzas = ['pepproni', 'BBQ', 'fajita']
for pizza in pizzas:
    print(pizza)
    
fruits = ['orange', 'mango', 'banana']
for fruit in fruits:
    print(fruit)

pepproni
BBQ
fajita
orange
mango
banana

# 4-13

In [36]:
foods = ('nan','butter','chai')
print("Foods Menu:")
for food in foods:
    print(food)
foods = ('nan','butter','chai','chicken')
print("\nMenu changed:")
for food in foods:
    print(food)

Foods Menu:
nan
butter
chai

Menu changed:
nan
butter
chai
chicken