# 6-1

In [4]:
person={'firstname':'Arish','lastname':'Ilma','age':23,'city':'karachi'}
print('firstname :' + person['firstname'],
      '\nlastname :'+ person['lastname'],
       '\nage :' + str(person['age']),
       '\ncity :' + person['city'])

firstname :Arish
lastname :Ilma
age :23
city :karachi

# 6-2

In [11]:
person={'Arish':21,'Ilma':22,'ali':23,'ahmed':24,'faiza':25}
print('Arish', "favourite number :" + str(person['Arish']))
print('Ilma' , "favourite number :" + str(person['Ilma']))
print('ali'  , "favourite number :" + str(person['ali']))
print('ahmed' ,"favourite number :" + str(person['ahmed']))
print('faiza' , "favourite number :" + str(person['faiza']))

Arish favourite number :21
Ilma favourite number :22
ali favourite number :23
ahmed favourite number :24
faiza favourite number :25

# 6-3

In [13]:
glossary={'command':'order','route':'way','result':'outcome','total':'sum'}
for k,v in glossary.items():
    print(k+ " means " +v)

command means order
route means way
result means outcome
total means sum

# 6-5

In [23]:
rivers={'nile':'egypt','amazon':'brazil','indus':'pakistan','congo':'Republic of congo'}
for river,countries in rivers.items():
    print("\nThe",river,"runs through",countries,"\n")
    print('river : ',river)
    print('country : ',countries)

The nile runs through egypt

river :  nile
country :  egypt

The amazon runs through brazil

river :  amazon
country :  brazil

The indus runs through pakistan

river :  indus
country :  pakistan

The congo runs through Republic of congo

river :  congo
country :  Republic of congo

# 6-6

In [32]:
listnames=[]
favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
'arish': 'java',    
'ali': 'javascript',    
}

for name,language in favorite_languages.items():
    listnames.append(name)
print("These are names that should learn and take poll language : \n")    
print(listnames)

These are names that should learn and take poll language :

['jen', 'sarah', 'edward', 'phil', 'arish', 'ali']

# 6-7

In [36]:
peoples=[ {'firstname':'Arish','lastname':'khan','age':23,'city':'karachi'} ,
         {'firstname':'Muhib','lastname':'ahsan','age':28,'city':'lahore'} ,
         {'firstname':'Ali','lastname':'nawaz','age':18,'city':'islamabad'}
       ]

for people in peoples[0:]:
    print(people)

{'firstname': 'Arish', 'lastname': 'khan', 'age': 23, 'city': 'karachi'}
{'firstname': 'Muhib', 'lastname': 'ahsan', 'age': 28, 'city': 'lahore'}
{'firstname': 'Ali', 'lastname': 'nawaz', 'age': 18, 'city': 'islamabad'}

# 6-8

In [37]:
tommy    = {'owner name':'arish','pet type':'Bull Dog'}
blossom  = {'owner name':'fahad','pet type':'Bull Dog'}
pluto    = {'owner name':'ali','pet type':'Bull Dog'}

pets = [tommy,blossom,pluto]

for pet in pets:
    print(pet)

{'owner name': 'arish', 'pet type': 'Bull Dog'}
{'owner name': 'fahad', 'pet type': 'Bull Dog'}
{'owner name': 'ali', 'pet type': 'Bull Dog'}

# 6-9

In [38]:
favorite_places = {'karachi':['paf museum','zoo','winterland'],
                   'quetta':['Quaid Residency','Pishin Valley','Quetta Museum'],
                   'lahore':['Lahore Museum','Badshahi Mosque','Minar-e-Pakistan']
                    }

for place,favorite_place in favorite_places.items():
    print(favorite_place, "are in", place)

['paf museum', 'zoo', 'winterland'] are in karachi
['Quaid Residency', 'Pishin Valley', 'Quetta Museum'] are in quetta
['Lahore Museum', 'Badshahi Mosque', 'Minar-e-Pakistan'] are in lahore

# 6-10

In [39]:
favorite_places = {'Arish':[1,2,3],
                   'Ilma':[4,5,6],
                   'Muhib':[7,8,9]
                    }

for name,favorite_number in favorite_places.items():
    print(name,"favourite numbers",favorite_number)

Arish favourite numbers [1, 2, 3]
Ilma favourite numbers [4, 5, 6]
Muhib favourite numbers [7, 8, 9]

# 6-11

In [43]:
cities={'karachi':{'pakistan':['winterland','Quaid-e-azam tomb','Frere Hall']
                  },
        'bombay' :{'india':['Marine Drive','Gateway of India','Haji Ali']
                  },
        'washing ton' :{'america':['New York City','Chicago, Illinois','New Orleans']
                       }
                    }


for keys1,keys2 in cities.items():
    print(keys1,keys2)

karachi {'pakistan': ['winterland', 'Quaid-e-azam tomb', 'Frere Hall']}
bombay {'india': ['Marine Drive', 'Gateway of India', 'Haji Ali']}
washing ton {'america': ['New York City', 'Chicago, Illinois', 'New Orleans']}

# 6-12

In [45]:
favorite_places = {'Arish':[1,2,3],
                   'Ilma':[4,5,6],
                   'Muhib':[7,8,9],
                   'Aima':[10,11,12],
                   'Ali':[13,14,15]
                    }

for name,favorite_number in favorite_places.items():
    print(name,"favourite numbers",favorite_number)

Arish favourite numbers [1, 2, 3]
Ilma favourite numbers [4, 5, 6]
Muhib favourite numbers [7, 8, 9]
Aima favourite numbers [10, 11, 12]
Ali favourite numbers [13, 14, 15]